.overlay {
  transform: translateX(54rem);
  /* visibility: hidden;
  opacity: 0; */

  background-color: rgb(107, 14, 14);
  padding: 20px;

  transition: opacity 1000ms;
  overflow-y: scroll;
  animation: TaskDrop 5s linear;
}

.contactDetails {
  /* transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0s;
  transition-property: transform; */
  /* 
  animation-name: TaskDrop;
  animation-iteration-count: 5000s;
  animation-timing-function: linear; */
} /* 
.details2 {
  bottom: 0;
  display: flex;
  justify-content: space-between; */

/*  left: 95%;
  position: absolute;
  top: 0; */
/* transition: transform 0.2s ease-in;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-property: transform;
  width: 0;
  z-index: 600; */
/*  animation: TaskDrop 5000s linear; */

.detail3 {
  /*  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden; */
}
/* @keyframes TaskDrop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
} */
/* .footer {
  animation-direction: alternate;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: TaskDrop;
  background-color: bisque;
} */
